
@{
    ViewBag.Title = "Deleteperson";
}

<h2>Deleteperson</h2>

<form method="post" action="@Url.Action("Deleteperson")">
    ID:<input type="text" name="id" />
   
<input type="submit" value="Delete" />

</form>