
@{
    ViewBag.Title = "GetPersons";
}

<h2>GetPersons</h2>
<table border="1">
<tr>
    <th>id</th>
    <th>name</th>
    <th>Address</th>

</tr>
    @foreach (var item in ViewBag.list)
    {
        <tr>
            <th>@item.id</th>
            <th>@item.name</th>
            <th>@item.Address</th>

        </tr>
    }
</table>