
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<form method="post" action="@Url.Action("Insert")">
    ID:<input type="text" name="id" />
    Name:<input type="text" name="name"/>
    Address:<input type="text" name="Address"/>
    <input type="submit" value="Insert"/>

</form>