
@{
    ViewBag.Title = "Updateperson";
}

<h2>Updateperson</h2>





<form method="post" action="@Url.Action("Updateperson")">
    ID:<input type="text" name="id" />
    Name:<input type="text" name="name" />
    Address:<input type="text" name="Address" />
    <input type="submit" value="Update" />

</form>